---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<!-- SCM Music Player https://www.scmplayer.net -->
<script type="text/javascript" src="https://www.scmplayer.net/script.js" 
data-config="{'skin':'skins/simpleBlack/skin.css','volume':50,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'See you - Johny Orlando','url':'https://youtu.be/Ny4eqZQla_M'},{'title':'Wish now was later - ELI','url':'https://youtu.be/hJwdMJn3akk'},{'title':'Can%27t wait for you - Deanz','url':'https://youtu.be/Ij5PaKULTTc'},{'title':'Let me drown - Deanz','url':'https://youtu.be/XUzR8H6Y1i4'},{'title':'Go All in - Deanz','url':'https://youtu.be/Cslqqo5OSQ0'},{'title':'Hypnotized - Deanz','url':'https://youtu.be/4vrPWurO6IM'}]}" ></script>
<!-- SCM Music Player script end -->

{% include paginator.html %}
